body{padding: 10px;
    color: #693ADC;
}
main{ 
    display: grid;
    gap: 15px;
  }
#main_Head{
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}
#main_conteiner{
    display: grid;
    grid-template-columns: 33% 33% 32%;
    gap: 1%;
    
}
.letter{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: aqua;

    }
.container-img-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#description-container{
    border-radius: 10px;
    text-align: center;
}
.clinical-logo{
    max-height: 100px;
    max-width: 100px;
}
.medical-logo{
    max-height: 50px;
    max-width: 50px;
}
#letter1{
    border:2px solid #C71556;
    padding: 15px;
    background-color: #CA5F86;
    text-align: right;
}
#letter2{
    border:2px solid #6B9921;
    padding: 15px;
    background-color:#CBE79C;
    text-align: center;
}
#letter3{
    border:2px solid #7B95C8;
    padding: 15px;
    background-color:#A2B9E6;
    text-align: left;
}
#letter4{
    border:2px solid #7B95C8;
    padding: 15px;
    background-color:#A2B9E6;
    text-align: left;
}
#letter5{
    border:2px solid #6B9921;
    padding: 15px;
    background-color:#CBE79C;
    text-align: center;
}
#letter6{
    border:2px solid #C71556;
    padding: 15px;
    background-color:#CA5F86;
    text-align: right;
}
#description-container{
    background-color: #F8E9DB;
    padding: 10px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 20px;
    color:#433A8C;
}
p{
    font-size: 14px;
}
button{
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #FFFF;
    padding: 10px 14px;
}